h1{
    color: blueviolet;
}

p{
    color: cadetblue;
    font-size: 150%;
    margin: 0;
}

/* ID can be changed using # and classes by . */ 

#Boo{
    color: chartreuse;
    font-size: 200%;
}

.nice{
    color: crimson;
    font-family: 'Trebuchet MS';
}

.lime{
    background-color:rgb(238, 255, 0);
    color: blue;
    height: auto;
    font-size: 110%;
    width: auto;
    padding: 29px;
    margin: 5% 1%;
    border: 10px tomato ridge;
}

.gray{
    background-color: gray;
    height: auto;
    color: white;
    padding: 30px 10px;
    border-width: 10px 15px 20px 25px;
    border-color: teal salmon;
    border-style: groove;
    margin: 1%;
    outline: solid thick palevioletred;
}

.pink{
    background-color: hotpink;
    padding: 47px 12px 23px 89px;
    border: 20px black ridge;
    border-radius: 13px;
}

/* Box Model
 * padding then border then margin then outline
 * Single value changes all
 * 4 Values change top, right, bottom, left in that order
 * 2 Values change top,bottom and right, left
 */

/* There are two ways of creating borders, see box 1 and 2 */
/* Outlines are similar */

.imgbxo{
    padding: 20px;
    background-image: url(images/moun.jpg);
    background-repeat: no-repeat;
    background-origin: content-box;
    height: 250px;
    background-size: 100% 100%;
    margin: 15px;
    color: white;
    padding: 10px;
    outline: turquoise 5px;
    outline-style: inset;
}

/* You can make boxes float to the right or left so they only take as much space as required.
 * Use clear attribute to disallow floating boxes to any direction of a given box
 */

.imgbxt{
    background-image: url(images/aud.jpg);
    height: 200px;
    background-size: 100px 100px;
    background-origin: padding-box;
    padding:10px 100px;
    background-repeat: no-repeat;
    border: lightcoral 10px;
    border-style: double;
    margin: 2%;
    float: right;
}

#word{
    color: red;
}